@import "tailwindcss";


@theme {
  --font-head: 'Aching', sans-serif;
}
body {
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer; 
}

.quality-bg {
  background: #000; /* base black */
  overflow: hidden;
}

.quality-bg::before,
.quality-bg::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.7;
  animation: float 10s infinite alternate ease-in-out;
}

.quality-bg::before {
  background: #a6ff007e; /* parrot green */
  top: -200px;
  left: -150px;
}

.quality-bg::after {
  background: #00fff783; /* aqua for contrast */
  bottom: -200px;
  right: -150px;
  z-index: 200;
}

@keyframes float {
  from { transform: translateY(0px) scale(1); }
  to   { transform: translateY(-40px) scale(1.1); }
}
